<header>
    <div class="navbar navbar-dark bg-dark box-shadow ml-2 mr-2" style="border-radius: 50px;">
        <div class="container d-flex justify-content-between">
            <a routerLink="/" class="navbar-brand d-flex align-items-center">
                <strong class="btn btn-outline-success">OAuth2 Client Demo Merlin DE Team</strong>
            </a>
            <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light btn btn-outline-info" routerLink="/register">Register New Account</a>
                <a class="p-2 text-light btn btn-outline-info ml-2" routerLink="/login">Login</a>
            </nav>
            <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light btn btn-outline-info" routerLink="/topsecret">Call Api To View Secret Area</a>
                <a class="p-2 text-light btn btn-outline-info ml-2" (click)="signout()" href="javascript:void(0)">Logout {{name}}</a>
            </nav>
        </div>
    </div>
</header>

<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>