<div *ngIf="error" class="row justify-content-center align-items-center">
    <div class="col-md-8 text-center">
        <div class="alert alert-danger" role="alert">
            Oops, there was an error, please try to <a routerLink="/login">login again</a>.
        </div>
        <div class="alert alert-primary" role="alert">
            Or you can try to <a routerLink="/register">register a new account </a>here.
        </div>
    </div>
</div>