<div class="container">
    <div class="jumbotron mt-3" style="border-radius: 20px;">
        <h1>OAuth2 Client Demo Merlin DE Team</h1>
        <p class="lead">OAuth2/OpenID Connect Demo using Angular 8, ASP.NET Core with IdentityServer 4</p>
        <a *ngIf="!isAuthenticated" class="btn btn-lg btn-primary" routerLink="/register" role="button">Register &raquo;</a>
        <a *ngIf="!isAuthenticated" class="btn btn-lg btn-primary ml-4" routerLink="/login" role="button">Login &raquo;</a>
        <a *ngIf="isAuthenticated" class="btn btn-lg btn-primary ml-4" routerLink="/topsecret" role="button">Call Api To View Super-Secret User Claims &raquo;</a>
    </div>
</div>