﻿@using System.Threading.Tasks
@using IdentityServer4AspNetIdentity.Models
@model IdentityServer4AspNetIdentity.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />

    <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><b>Local Register</b></h3>
                    </div>
                    <div class="panel-body">
                    <fieldset>
    <div class="form-group">
        <label asp-for="Email" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-5">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>

    </fieldset>

                    </div>
                </div>
            </div>
</form>

