﻿
@{
    ViewData["Title"] = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Registration Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p>
    Thanks for registering!
</p>
<p>Click <a asp-controller="Grants" asp-action="Index">here</a> to manager your grants</p>
