<div class="jumbotron mt-2" style="border-radius: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>{{title}}</h1>
            <p class="lead">Before you can login here, you must <a routerLink="/register">register a new account</a>.</p>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-success" (click)="login()">Login Normal</button>
            </div>
            <div class="col-md-12 text-center mt-2">
                <p class="lead">Or you can Login With:</p>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-outline-danger ml-2" (click)="loginGoogle()">Google</button>
                <button class="btn btn-lg btn-outline-primary ml-2" (click)="loginFaceBook()">Facebook</button>
                <button class="btn btn-lg btn-outline-info ml-2" (click)="loginMicrosoft()">Microsoft</button>
            </div>
        </div>
    </div>
</div>