﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Authentication
<div class="text-center">
    <h1 class="display-4">Welcome Nash!</h1>
    <p>This Is Test Page For IdentityServer</p>
</div>

@if (User.Claims != null)
{
    <p class="text-center">You Are Logged in, go to the Secure page to see details</p>
}

